body {
    overflow: hidden;
    font-size: 10px;
}
.client-name-section {

}
.client-user-list-section {
    height: 250px;
    float: left;
    position: relative;
    width: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}
.client-user-list-inside-section {
    overflow: hidden;
}


.client-user-conversation-section {
    height: 100%;
    float: left;
    position: relative;
    width: 370px;
    height: 250px;
}
.client-user-conversation-content-section {
    height: 220px;
    overflow-y: auto;
    overflow-x: hidden;
}
.client-user-conversation-inside-content-section {
    overflow: hidden;
}
.client-user-conversation-text-section {

}
.client-user-conversation-text-section input[type=text] {
    width: 300px;
}
.client-user-conversation-text-section input[type=button] {
    width: 60px;
}