<!DOCTYPE html>
<html lang="en"  ng-app='ClientWsIframe'>
<head>
    <meta charset="UTF-8">
    <title>Client frame</title>

    <link rel="stylesheet" type="text/css" href="../css/client.css">
    <script src="../js/angular.1.5.8.js"></script>
    <script src="../js/angular-cookies.min.1.5.8.js"></script>
    <script src="../js/angular-route.1.5.8.js"></script>
    <script src="../js/sockjs.min.js"></script>
    <script src="../js/stomp.min.js"></script>
    <script src="../js/application.js"></script>
    <script src="../js/ws.js"></script>
</head>
<body ng-controller="ClientController">
    <div class="client-name-section">
        <p>Client name: Test</p>
    </div>
    <div class="client-user-list-section">
        <div class="client-user-list-inside-section">
            <table>
                <tr data-ng-repeat="user in userList">
                    <td>{{user.name}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="client-user-conversation-section">
        <div class="client-user-conversation-content-section">
            <div class="client-user-conversation-inside-content-section">
                <table>
                    <tr data-ng-repeat="content in conversationContent">
                        <td>{{content.timestamp}}</td>
                        <td>{{content.content}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="client-user-conversation-text-section">
            <input type="text">
            <input type="button" value="Send">
        </div>
    </div>
</body>
</html>